.drawer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: calc(100vh);
    background: #fff;
    z-index: 10000;
    transition: right 0.3s ease;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  
    &.open {
      right: 0;
    }
  
    .title {
      margin-bottom: 30px;
    }
    .closeBtn {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 18px;
      background: none;
      border: none;
      cursor: pointer;
    }
  
    .item {
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      &:first-child {
      border-top: 1px solid #ddd;
      padding-top: 15px;
      }
      .itemWrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
       
        .imgQuantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          .imgBox {
            width: 120px;
            height: 75px;
            margin-bottom: 15px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .descPrice {
          .desc {
            font-size: 20px;
            line-height: 1.1;
            text-align: center;
          }
          .price {
            position: absolute;
            right: 5px;
            bottom: 5px;
          }
        }

      }
  
      .quantity {
        display: flex;
        align-items: center;
        gap: 10px;
  
        button {
          padding: 3px 7px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
  
    &.open {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  .totalPrice {
    font-size: 30px;
    color: #53132c;
    margin-bottom: 20px;
  }

  .confirmOrder {
    display: block;
    margin: auto;
    text-align: center;
    background-color: #53132c;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      background-color: #832c4ce1;

    }
  }