
.sliderBox {
    width: 100%;
    max-width: 1440px;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    img {
      display: block;
      width: 100%;
      border-radius: 20px;
      max-height: 100%;
    }
  
    p {
      z-index: 5;
    }
  
    .slideTitle {
      font-size: 50px;
      font-weight: 700;
      color: white;
      position: absolute;
      // padding: 20px;
      border-radius: 20px;
      background-color: #53132c;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .slideDescription {
      font-size: 50px;
      font-weight: 700;
      color: white;
      position: absolute;
      bottom: 20px;
      left: 40px;
      // padding: 20px;
      border-radius: 20px;
      background-color: #53132c;
    }
  
    button {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #53132c;
      border-radius: 50%;
      transition: 0.3s ease;
      &:hover {
        scale: 1.05;
      }
      img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 5;
        filter: invert(1);
      }
    }
  
    .prevBtn {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      z-index: 10;
    }
  
    .nextBtn {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      z-index: 10;
    }
  
    .slidesWrapper {
      position: relative;
      height: 100%;
    }
  
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
  
    .active {
      opacity: 1;
      z-index: 2;
      pointer-events: auto;
    }
  
    .dotsWrapper {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
      z-index: 10;
    }
  
    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ccc;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
  
    .activeDot {
      background-color: #53132c;
    }
  }
  