.placeholder {
  height: 200px; // або конкретна висота вашого хедера в звичайному стані
}

.header {
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 999;
  
  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    transform: scaleY(0.9); // або зменшити окремі елементи
    .logoBlock {
      width: 100px;
      height: 100px;
    }
    transform-origin: top;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }



  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }

  .logoBlock {
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .logoBlockScrolled {
    width: 100px;
    height: 100px;
  }

  // Далі твоя наявна стилізація інших елементів...

  .otherBlock {
    display: flex;
    align-items: center;

    .navigation {
      ul {
        display: flex;
        align-items: center;

        li {
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;

          .menuItem {
            color: #53132c;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
              color: #832c4ce1;
            }
          }

          .specialItem {
            background: #53132c;
            color: #fff;
            padding: 0.2em 0.7em;
            border-radius: 2em 0 2em 2em;
            transition: 0.3s ease-in-out;

            &:hover {
              color: #fff;
              background: #832c4ce1;
            }
          }
        }
      }
    }

    .adressBlock {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0px 60px;

      .adressBlockFirstRow {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;

        .adressBlockFirstRowIconBox {
          width: 30px;
          height: 30px;
        }

        .adressBlockFirstRowText {
          font-weight: 700;
          font-size: 22px;
          color: #53132c;
        }
      }

      .adressBlockSecondRowText {
        font-size: 14px;
        position: relative;
        left: 5px;
      }
    }

    .contactBlock {
      display: flex;
      align-items: center;
      flex-direction: column;

      .contactBlockFirstRow {
        display: flex;
        align-items: center;
        gap: 10px;

        .contactBlockFirstRowIconBox {
          width: 40px;
          height: 40px;
        }

        .contactBlockFirstRowText {
          font-weight: 700;
          font-size: 22px;
          color: #53132c;
        }
      }

      .contactBlockSecondRowText {
        font-size: 14px;
        position: relative;
        left: 10px;
      }
    }
  }

  .routeText {
    text-align: center;
    margin-bottom: 10px;
  }
}



