.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.productsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .productsWrapper {
        flex-direction: column;
        align-items: center;
    }
}